<!doctype html>
<head>

    <title> 
        The Canvas
    </title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        var socket = io.connect(location.origin, {transports:['websocket']})
    </script>

    <script type="text/javascript" charset="utf-8">
        function colorFlagToColor(flag) {
            switch(flag) {
                case 0:
                    return "#000000";
                default:
                    return "#000000";
            }
        }
        function posFromEvent(event) {
            eventX = event.pageX - canvas.offsetLeft;
            eventY = event.pageY - canvas.offsetTop;
            return {x: eventX, y: eventY};
        }

        function drawLine(bytes) {
            const line = new DataView(bytes)
            const startX = line.getUint16(0)
            const startY = line.getUint16(2)
            const endX = line.getUint16(4)
            const endY = line.getUint16(6)
            const colorFlag = line.getUint8(8)
            ctx.fillStyle = colorFlagToColor(colorFlag)
            ctx.moveTo(startX, startY);
            ctx.lineTo(endX, endY);
            ctx.stroke();
        }

        function sendLine(line) {
            const buffer = new ArrayBuffer(9)
            const dv = new DataView(buffer)
            dv.setUint16(0, line.start.x)
            dv.setUint16(2, line.start.y)
            dv.setUint16(4, line.end.x)
            dv.setUint16(6, line.end.y)
            dv.setUint8(8, 0)
            socket.emit('d', buffer)
        }

        function initLine(startPos) {
            return {
                drawing: false,
                start: startPos,
                end: undefined
            };
        }

        function isOnCanvas(line) {
            return (line.end.x >= 0 && line.end.y >= 0) || (line.start.x >= 0 && line.start.y >= 0)
        }

    </script>

    <script type="text/javascript" charset="utf-8">
        socket.on('r', drawLine)
    </script>

    <script type="text/javascript" charset="utf-8">

        var canvas, ctx;

        line = undefined

        function initCanvas() {

            canvas = document.getElementById("mainCanvas");
            ctx = canvas.getContext("2d");

            document.body.addEventListener('mousedown', function(event) {
                if(event.which == 1){
                    line = initLine(posFromEvent(event));
                    line.drawing = true;
                }
            })

            document.body.addEventListener('mousemove', function(event) {
                pos = posFromEvent(event);
                if(!!line && line.drawing) {
                    line.end = pos;
                    if(isOnCanvas(line)){
                        sendLine(line);
                    }
                    line.start = pos;
                }
            });

            document.body.addEventListener('mouseup', function(event) {
                if(event.which == 1){
                    line = initLine()
                }
            });

            ctx.fillStyle = "#FF1100";
            ctx.fillRect(0,0,1000.5,500.5);
            ctx.height = 1080
            ctx.width = 1920
        }

    </script>

    <style type="text/css">
        canvas {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(62, 121, 39);
        }

        body {
            position: relative;
            margin: 0;
            padding: 15px;
            width: 100vw;
            height: 100vh;
            min-height: 1080px;
            min-width: 1920px;
        }
    </style>
    
</head>

<body style="background-color:#333333;" onload="initCanvas()">
    <div>
        <canvas id="mainCanvas" width="1920px" height="1080px"></canvas>
    </div>
</body>       