<!doctype html>
<head>

    <title> 
        The Canvas
    </title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        function posFromEvent(event) {
            eventX = event.pageX - canvas.offsetLeft;
            eventY = event.pageY - canvas.offsetTop;
            return {x: eventX, y: eventY};
        }

        function drawLine(line) {
            ctx.fillStyle = "#000000";
            ctx.moveTo(line.start.x, line.start.y);
            ctx.lineTo(line.end.x, line.end.y);
            ctx.stroke();
        }

        function sendLine(line) {
            socket.emit('drawLine', line)
        }

        function initLine(startPos) {
            return {
                drawing: false,
                start: startPos,
                end: undefined
            };
        }

        function isOnCanvas(line) {
            return (line.end.x >= 0 && line.end.y >= 0) || (line.start.x >= 0 && line.start.y >= 0)
        }

    </script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();

        socket.on('connect', function() {
            socket.emit('load', {data: 'I\'m connected!'});
        });

        socket.on('renderLine', drawLine)
    </script>

    <script type="text/javascript" charset="utf-8">

        var canvas, ctx;

        line = undefined

        function initCanvas() {

            canvas = document.getElementById("mainCanvas");
            ctx = canvas.getContext("2d");

            document.body.addEventListener('mousedown', function(event) {
                if(event.which == 1){
                    line = initLine(posFromEvent(event));
                    line.drawing = true;
                }
            })

            document.body.addEventListener('mousemove', function(event) {
                pos = posFromEvent(event);
                if(!!line && line.drawing) {
                    line.end = pos;
                    if(isOnCanvas(line)){
                        sendLine(line);
                    }
                    line.start = pos;
                }
            });

            document.body.addEventListener('mouseup', function(event) {
                if(event.which == 1){
                    line = initLine()
                }
            });

            ctx.fillStyle = "#FF1100";
            ctx.fillRect(0,0,1000.5,500.5);
        }

    </script>

    <style type="text/css">
        canvas {
            padding: 0;
            margin: auto;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: white;
        }

        body {
            margin: 0mm 0mm 0mm 0mm;
        }
    </style>
    
</head>

<body style="background-color: gray; width: 100vw; height: 100vh;" onload="initCanvas()">

    <canvas id="mainCanvas" width="1920px" height="1080px"></canvas>

</body>